<div class="row">
<div class="col-6 txtInsitationPostuler">
  <div class="blocInfo">
    <h3 class="pqPublier">Pourquoi postuler à un stage ici? </h3>
    <p class="textExplication">Pellentesque vehicula fermentum turpis eu cursus. Cras convallis tellus et elit aliquet,
      vitae
      dignissim ligula sodales. </p>
    <ul class="listeExplication">
      <li>Cras convallis tellus et elit aliquet 20%</li>
      <li>Suspendisse tincidunt vulputate leo in sollicitudin</li>
      <li>Morbi sodales risus quis orci hendrerit semper</li>
    </ul>
    <p class="publierOffre btn"><a routerLink="/connexion/demande">Faire une demande de stage</a></p>
  </div>
</div>
<div class="col-6 bgInsitationPostuler">
</div>
</div>

