<div class="row">
  <div class="col-6 bgInsitationPostuler"></div>
  <div class="col-6 txtInsitationPostuler">
    <div class="blocInfo">
      <h3 class="pqPublier">Pourquoi publier une offre de stage? </h3>
      <p class="textExplication">Pellentesque vehicula fermentum turpis eu cursus. Cras convallis tellus et elit
        aliquet, vitae
        dignissim ligula sodales. </p>
      <ul class="listeExplication">
        <li>Cras convallis tellus et elit aliquet 20%</li>
        <li>Suspendisse tincidunt vulputate leo in sollicitudin</li>
        <li>Morbi sodales risus quis orci hendrerit semper</li>
      </ul>
      <p class="publierOffre btn"><a routerLink="/connexion/offre">Publier une offre de stage maintenant</a></p>
    </div>
  </div>
</div>

