<div class="row">
  <div class="offset-3 col-6 text-center">
    <h2 class="h2Facile">Facile à utiliser</h2>
    <p class="pExplication">Pellentesque vehicula fermentum turpis eu cursus. Cras convallis tellus et elit aliquet, vitae dignissim ligula sodales. </p>
    <img src="../../../../assets/img/facileAutiliser.jpg" alt="facile à utiliser">
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <p class="btn pInscrivezVous"><a routerLink="/connexion">Inscrivez-vous maintenant</a></p>
  </div>
</div>
