.h2Facile {
  color: #4F4F6F;
  font-weight: 600;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.pExplication{
  font-size: 16px;
  margin-bottom: 50px;
}
.pInscrivezVous{
  background-color: #544CF9;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
