<app-entete-autres-pages [offreDemande]="offreDemande"></app-entete-autres-pages>
<div class="row">
  <div class="col">
    <h2>Politique de confidentialité d'un site web</h2>
    La politique de confidentialité d'un site web est un écrit qui explique aux visiteurs ou utilisateurs d'un site web
    les renseignements personnels que le site collecte sur eux, lorsqu'ils naviguent ses pages. Ce document explique
    aussi comment et pour quelles raisons ces renseignements sont collectés, ainsi que les droits dont les utilisateurs
    ou visiteurs disposent par rapport à ces pratiques.

    On entend par "renseignements personnels" toute information permettant d'identifier un particulier, notamment: les
    noms, prénoms, adresses postales et électroniques, numéros de téléphone, de carte de crédit, de sécurité sociale ou
    d'assurance sociale, la date de naissance, etc.

    Ce document est adapté au Règlement européen 2016/679 dans les cas où il est applicable.<br>


    <h3>Comment utiliser ce document ?</h3>

    La collecte de renseignements personnels concerne uniquement les renseignements personnels qui sont nécessaires à
    l'obtention d'un service ou d'un bien.

    Pour rédiger une politique de confidentialité, il faudra :
    <ul>
      <li>Faire la liste des renseignements personnels collectés;</li>
      <li>Faire la liste des modes de collecte;</li>
      <li> Expliquer les finalités ou les raisons de la collecte;</li>
      <li>Divulguer le partage de ces renseignements à des tiers (entreprise, organisation, gouvernement).</li>
    </ul>
    <p>Mesures d'opposition à la collecte : droit d'opposition, droit de retrait et droit d'accès

      La politique de confidentialité prévoit des mesures d'opposition pour les utilisateurs, que l'entreprise ou
      l'organisation doit respecter et mettre en application à la demande d'un utilisateur. Ce sont les : droit de
      retrait, droit d'accès et droit d'opposition.

      Le droit d'opposition permet aux personnes concernées de refuser que leurs renseignements personnels soient
      utilisés à certaines fins mentionnées lors de la collecte. Par exemple, il serait possible d'accepter de donner
      ses informations, mais s'opposer à ce que celles‐ci soient divulguées à des tiers, inscrites dans la liste de
      diffusion du site Web ou employées à des fins de prospection commerciale.

      Le droit de retrait permet notamment aux internautes de demander à ce que leurs renseignements personnels soient
      retirés des listes de diffusion.

      Le droit d'accès permet aux personnes concernées de connaître quels sont les renseignements personnels détenus par
      les propriétaires du site web, avec la possibilité de les mettre à jour.
    </p>

  </div>
</div>
<div class="mt-3 mb-3 publi text-center">
  <img src="https://dummyimage.com/150/0b2040/FFFFFF?text=Publicité" alt="pubilicte">
</div>
<app-chercheurs-stage></app-chercheurs-stage>
<app-menu-bas></app-menu-bas>

