<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

    <p class="pEnstage">&copy; 2021 <span>EnStage</span> - Projet éducationnel</p>
      <ul class="navbar-nav flex">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/apropos">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/confidentialite">Confidentialité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nous_joindre">Nous joindre</a>
        </li>
      </ul>

  </div>
</nav>
