<div class="row mt-3">
  <div class="col-8">
    <button class="btn border-primary text-primary ajouterOffreDemande me-3" *ngIf="niveauAcces === '999' || niveauAcces === '333'">
      <a routerLink="/admin/ajoutEditOffreDemande/offre"><i class="fas fa-plus me-3"></i>Ajouter une offre de stage</a>
    </button>
    <button class="btn border-primary text-primary ajouterOffreDemande" *ngIf="niveauAcces === '999' || niveauAcces === '111'">
      <a routerLink="/admin/ajoutEditOffreDemande/demande"><i class="fas fa-plus me-3"></i>Ajouter une demande de stage</a>
    </button>
  </div>
  <div class="col-4 flex-container justify-content-end">
    <div class="nameEtRole me-3 text-left">
      <span class="nom">{{ prenom }} {{ nom }}<span class="niveauAcces text-left">{{ role }}</span></span>
    </div>
    <div class="iconSizeAvatar me-3" routerLink="/admin/fiche/profil/{{ userID }}"><i class="fas fa-user-circle "></i></div>
    <div class="iconSizeExit my-auto" (click)="deconnexion()"><i class="fas fa-sign-out-alt"></i></div>
  </div>
</div>

