.ajouterOffreDemande{
  font-size: 14px;
}
.flex-container {
  display: flex;
}
.nom{
  color: #000;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.niveauAcces{
  display: block;
  font-family: "Open sans", sans-serif;
}
.iconSizeAvatar{
  font-size: 32px;
  color: #CCD4E0;
}
.iconSizeExit{
  color: #CCD4E0;
  cursor: pointer;
}
