<app-entete-autres-pages [offreDemande]="offreDemande"></app-entete-autres-pages>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 text-center">
    <span class="logoPage">eStage</span>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <p class="textApropos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum ex in ante
      condimentum, ac pellentesque elit condimentum. Nullam auctor congue tellus, quis pulvinar ligula consequat ac.
      Cras sit amet ligula id ipsum pharetra aliquet ac in ipsum. Ut consequat nisi vitae magna tristique faucibus vitae
      quis lorem. Nunc ex tellus, mattis vel congue eu, pulvinar sit amet nisl. Aliquam elementum sapien sed augue
      eleifend cursus. Suspendisse nisi tellus, bibendum at auctor eget, convallis non enim. Quisque erat nisi,
      convallis vel tortor in, dapibus pretium enim. Cras malesuada ultrices venenatis.
    </p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-4">
    <div class="photoPropos">
      <img src="https://via.placeholder.com/400x200/0b244d/0b244d" alt="">
    </div>
    <div class="titrePhoto">
      nos objectifs
    </div>
    <div class=" mt-3 text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum ex in ante condimentum, ac pellentesque
      elit condimentum. Nullam auctor congue tellus, quis pulvinar ligula consequat ac. Cras sit amet ligula id ipsum
      pharetra aliquet ac in ipsum. Ut consequat nisi vitae magna tristique faucibus vitae quis lorem.
    </div>

  </div>
  <div class="col-4">
    <div class="photoPropos">
      <img src="https://via.placeholder.com/400x200/0b244d/0b244d" alt="">
    </div>
    <div class="titrePhoto">
      nos centre d'actions
    </div>
    <div class=" mt-3 text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum ex in ante condimentum, ac pellentesque
      elit condimentum. Nullam auctor congue tellus, quis pulvinar ligula consequat ac. Cras sit amet ligula id ipsum
      pharetra aliquet ac in ipsum. Ut consequat nisi vitae magna tristique faucibus vitae quis lorem.
    </div>
  </div>
  <div class="col-4">
    <div class="photoPropos">
      <img src="https://via.placeholder.com/400x200/0b244d/0b244d" alt="">
    </div>
    <div class="titrePhoto">
      notre fondation
    </div>
    <div class=" mt-3 text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum ex in ante condimentum, ac pellentesque
      elit condimentum. Nullam auctor congue tellus, quis pulvinar ligula consequat ac. Cras sit amet ligula id ipsum
      pharetra aliquet ac in ipsum. Ut consequat nisi vitae magna tristique faucibus vitae quis lorem.
    </div>
  </div>
</div>
<div class="autreText">
  <div class="titreAutreText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </div>
  <div class="textAutre">
    Etiam mattis est in tellus mattis maximus. Etiam non molestie metus. Donec quis mauris metus. Cras tempor varius
    odio, nec varius nisi sollicitudin ac. Praesent vitae elementum augue, non suscipit turpis. Etiam blandit vitae quam
    nec porttitor. Duis libero nunc, iaculis at diam in, scelerisque dapibus mauris. Aenean faucibus est lectus,
    elementum pellentesque nisi cursus at. Maecenas nec elementum enim, vel egestas nisi.
  </div>
</div>

<div class="row mb-5">
  <div class="col-6 bgInsitationPostuler"></div>
  <div class="col-6 txtInsitationPostuler">
    <div class="blocInfo">
      Etiam mattis est in tellus mattis maximus. Etiam non molestie metus. Donec quis mauris metus. Cras tempor varius
      odio, nec varius nisi sollicitudin ac. Praesent vitae elementum augue
    </div>
  </div>
</div>
<div class="mt-3 mb-3 publi text-center">
  <img src="https://via.placeholder.com/150/0b2040/FFFFFF?text=Publicité" alt="pubilicte">
</div>
<app-chercheurs-stage></app-chercheurs-stage>
<app-menu-bas></app-menu-bas>


