  <div class="bgChercheur">
    <div class="chercheurStage">
      <div class="row">
        <p class="pChercheurStage">Ils sont à la recherche d'un stage</p>
        <div class="col-3">
          <p class="chercheurQualification">Resources jobs</p>
          <p class="chercheurQualification">Marketing online jobs</p>
          <p class="chercheurQualification">Mobile Developer jobs</p>
          <p class="chercheurQualification">App Developer jobs</p>
        </div>
        <div class="col-3">
          <p class="chercheurQualification">Resources jobs</p>
          <p class="chercheurQualification">Marketing online jobs</p>
          <p class="chercheurQualification">Mobile Developer jobs</p>
          <p class="chercheurQualification">App Developer jobs</p>
        </div>
        <div class="col-3">
          <p class="chercheurQualification">Resources jobs</p>
          <p class="chercheurQualification">Marketing online jobs</p>
          <p class="chercheurQualification">Mobile Developer jobs</p>
          <p class="chercheurQualification">App Developer jobs</p>
        </div>
        <div class="col-3">
          <p class="chercheurQualification">Resources jobs</p>
          <p class="chercheurQualification">Marketing online jobs</p>
          <p class="chercheurQualification">Mobile Developer jobs</p>
          <p class="chercheurQualification">App Developer jobs</p>
        </div>
      </div>
    </div>
  </div>

