<div class="inputRercherher justify-content-center">
  <form class="row g-3 justify-content-center">
    <div class="col-auto">
      <form>
        <label for="recherche" class="visually-hidden">Rechercher</label>
        <input autofocus type="text" name="formation" (click)="montreTableau()" (clickOutside)="cacheTableau()"
               (keydown.enter)="keyDown()" [(ngModel)]="formationRecherche"
               class="form-control inputMotCle" id="recherche" placeholder="Mots clé">
        <div *ngIf="isFocusInput" id="ul-wrapper">
          <ul class="list-group list-group-flush">
            <li class="list-group-item optionDisplayed" (click)="titreSelected($event)"
                *ngFor="let item of formation | filter: formationRecherche">
              {{item}}
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="col-auto">
      <button class="btn btnRechercher mb-1" (click)="rechercheOffreDemande(formationRecherche)">Rechercher</button>
    </div>
  </form>
</div>

